<?xml version="1.0" encoding="UTF-8"?>
<!--we plan to use servlet3.0 framework, so add these code-->
<!--but infect, servlet3.0 framework don't need to use these web.xml file, it can be configure as java annotation-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
</web-app>